<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <!-- menorque%- include('partials/exemplo.ejs' %maior que)-->
    <header class="header">
        <h1>Jogo da Velha</h1>
    </header>
    <section>
        <div id="container_chat_box">
            <div>
                <div id="chat-container">
                    <p>Bate-papo:</p>
                    <div id="chat">

                    </div>
                    <div>
                        <input type="text" placeholder="Escreva uma mensagem" id="input_chat_text">
                    </div>
                </div>
                <div id="players"></div>
            </div>
            <div class="general">
                <div class="container">
                    <div id='1' class="box"></div>
                    <div id='2' class="box" ></div>
                    <div id='3' class="box"></div>
                </div>
                <div class="container">
                    <div id='4' class="box"></div>
                    <div id='5' class="box"></div>
                    <div id='6' class="box"></div>
                </div>
                <div class="container">
                    <div id='7' class="box"></div>
                    <div id='8' class="box"></div>
                    <div id='9' class="box"></div>
                </div>
            </div>
        </div>
        <div id="currentPlayer">
            <h2 id="vezD" class="jogadorAtual"></h2>
        </div>
        <div>
            <button id="logout_button">Logout</button>
        </div>
        <div>
            <button id="restart_button" class="restart_button">Reiniciar</button>
        </div>
    </section>
    <footer>
        
    </footer>
    <script src="/js-files/home.js" type="module"></script>
</body>
</html>