<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles-index.css">
</head>
<body>
    <form autocomplete class="form" method="post" id="form">
        <div>
            <label for="login">Login</label>
            <input type="text" name="login" id="login" onblur="onChangeLogin()"/>
            <div class="error" id="login-required-error">Login é obrigatório</div>
            <div class="error" id="login-invalid-error">Login inválido</div>
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" onblur="onChangePassword()"/>
            <div class="error" id="password-required-error">Senha é obrigatório</div>
        </div>
        <div id="invalid" class="error">Email e/ou senha inválidos</div>
        <input type="submit" name="action" value="Login"/>
    </form>
    <button onclick="window.location.href = '/register' ">
        Cadastrar-se
    </button>
    <script src="/js-files/d-index.js"></script>
</body>
</html>