<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha</title>
    <link rel="stylesheet" href="/css/styles-start.css">
</head>
<body>
    <header class="header">
        <h1>Jogo da Velha</h1>
    </header>
    <section>
       <div class="container">
         <form method="post" id="form_room">
            <select name="select_room" id="select_room">
                <option value="-1">Selecione uma sala</option>
                <option value="sala1">Sala 1</option>
                <option value="sala2">Sala 2</option>
                <option value="sala3">Sala 3</option>
                <option value="sala4">Sala 4</option>
            </select>
            <input type="submit" name="enter" id="enter" value="Enter"/>
        </form>
       </div>
    </section>
    <footer>
        
    </footer>
    <script src='/js-files/start.js'></script>
</body>
</html>
       