<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Espera</title>
    <script src="/socket.io/socket.io.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link rel="stylesheet" href="/css/styles-wait_room.css">
             
</head>
<body class="card-panel #90a4ae blue-grey lighten-2">
    <div>
        <p>Pessoas na sala</p>
        <div id="users_in_room" class="row">
            
        </div>
        <div>
            <button id="start_button" onclick="window.location.href = '/home' ">Começar</button>
        </div>
    </div>
    <script src="/js-files/wait_room.js" type="module"></script>
</body>
</html>